@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 172%;
}
html, body {
    position: relative;
}
main {
    width: 1280px;
    height: 100%;
    margin: auto;
}
.fixed {
    width: 1295px;
    height: 100%;
    margin: auto;
}
footer {
    width: 1280px;
    height: 100%;
    margin: auto;
}
.custom-nav {
    height: 146.27px;
}
.brand-logo {
    margin-left: 65px;
}
.line {
    border: 0.5px solid #676464;
    height: 27px;
}
.custom-btn {
    background: #232A56;
    border-radius: 4px;
    color: #fff;
    width: 125.77px;
    height: 44.47px;
    margin-right: 30px;
}
.text-spacing {
    text-indent: 30px;
}
main .social-links {
    position: absolute;
    top: 30%;
    right: 2%;
}
h1 {
    font-size: 60px;
    font-weight: 800;
}
.first-cont {
    margin-top: 120px;
}
.text {
    position: absolute;
    left: -30px;
    top: 220px;
    transform: rotate(-90deg);
}
.services-section {
    width: 250px;
    height: 325px;
    padding: 0;
    color: #232A56;
}
.voir-plus {
   background-color: #F6F6F6;
   text-align: end;
   width: 248px;
   height: 85px;
}
.indicateur-section {
    width: 350px;
    height: 300px;
    padding: 0; 
}
.dropbtn {
    width: 301px;
}
.dropbtn i {
    margin-left: 220px;
}
.contact-section {
    margin-top: 100px;
    width: 756px;
    height: 382px;
    padding: 0;
    color: white;
}
div.background {
    background: url(
        unsplash_mHusyBu4bxM.png) repeat;
}
div.layer {
    background-color: rgba(120, 128, 179, 0.7);
    width: 100%;
    height: 100%;
}
.chat-icon{
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
#div0:hover #div00 {
    cursor: pointer;
    background-color: #232A56;
}
#div1:hover #div01 {
    cursor: pointer;
    background-color: #232A56;
}
#div2:hover #div02 {
    cursor: pointer;
    background-color: #232A56;
}
#div3:hover #div03 {
    cursor: pointer;
    background-color: #232A56;
}
#div00:hover,#div01:hover,#div02:hover,#div03:hover{
    cursor: pointer;
    background-color: #232A56;
}
#div00:hover h4,#div01:hover h4,#div02:hover h4,#div03:hover h4{
    color: white;
}
#div0:hover button h4,#div1:hover button h4,#div2:hover button h4,#div3:hover button h4{
    color: white;
}
.fa{
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-right: 1px;
}
.input-group{
    border: 1px gray solid;
    padding: 6px;
    margin-left: 96px;
    background-color: white;
    width: 500px;
}
.form-control{
    border: none;
}
#el-left {
    position: absolute;
    bottom: 0%;
    left: 10%;
}
#el-right0 {
    position: absolute;
    bottom: 0%;
    right: 10%;
}
#el-right1 {
    position: absolute;
    bottom: 0%;
    right: 22%;
}
#el-right2 {
    position: absolute;
    bottom: 0%;
    right: 35%;
}
#scroller {
    position: fixed;
}
@media screen and (max-width: 1000px) {
    body {
        position: absolute;
    }
}